*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


header{
    background-color: blue;
    color: #fff;
    text-align: center;
}

.question{
    border: 1px solid #30303007;
    padding: 60px;
    width: 80%;
    margin: auto;
    background-color: rgb(153, 205, 50);
    color: #fff;
    border-radius: 0 50px 0 50px;
}
body{
    background-color:rgba(153, 205, 50, 0.226) ;
}

.content{
    display: flex;
    justify-content: center;
   margin: auto;
   margin-top: 50px;
}



.first-column{
    background-color: #fff;
    width:40%;
    text-align: center;
    padding: 10px;
   border-radius: 10px 10px 10px 10px;
}

.first-column h3{
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom:yellowgreen 1px dotted;
    padding: 20px;
    color: #303030;
}

/* .second-column{
    background-color: #fff;
    width:20%;
    text-align: center;
    box-shadow: -10px -10px 10px 0px rgba(0, 0, 0, 0.089);
    border-radius: 0 10px 10px 0;
} */

.btn{
    background-color: #fff ;
    color: #303030 !important;
    font-weight: 700;
    width: 80%;
    border: 1px solid white;
    box-shadow: -2px -2px 2px 2px rgba(0, 0, 0, 0.089);
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    cursor: pointer;
    box-shadow: #fff ;

}
.btn:disabled{
    cursor: no-drop;
}

.correct{
    background-color: rgba(0, 128, 0, 0.753) !important;
    color: #fff !important;
}

.incorrect{
    background-color: rgba(255, 0, 0, 0.829) !important;
    color: #fff !important;
}

#next-button{
    display: none;
    
}
.next-button-style{
    background-color: green;
    color: #fff;
    border: #fff 1px solid;
    border-radius: 5px;
    padding: 10px;
    width: 130px;
    text-align: center;
    margin:15px auto 0;
    cursor: pointer;
}
