*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


.pri-bg-col{
    background-color: rgb(153, 205, 50) !important;
}

.pri-text-col{
    color: rgb(153, 205, 50) !important;
}

h1{
    margin: auto;
    padding: 10px;
    text-align: center;
}

.question{
    border: 1px solid #30303007;
    padding: 40px;
    margin-bottom: 20px;
    width: 70%;
    margin: auto;
    background-color: rgb(153, 205, 50);
    color: #fff;
    border-radius: 0 50px 0 50px;
}

.btn{
    background-color: #fff ;
    color: #303030 !important;
    font-weight: 700;
    width: 70%;
    border: 1px solid white;
    box-shadow: -2px -2px 2px 2px rgba(0, 0, 0, 0.089);
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    cursor: pointer;
    box-shadow: #fff ;
    margin-left: 70px;


}
.btn:disabled{
    cursor: no-drop;
}

.correct{
    background-color: rgba(0, 128, 0, 0.753) !important;
    color: #fff !important;
}

.incorrect{
    background-color: rgba(255, 0, 0, 0.829) !important;
    color: #fff !important;
}



.index-container{
    width: 500px;
   margin-left: 400px;
   box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.089);
   margin-top: 100px;
}

.btn-pab{
    width: 150px;
    margin: auto;
    padding: 10px;
    color: #fff;
    background-color: yellowgreen;
    border: none;
    margin-bottom: 20px;
    border-radius: 4px;
    cursor: pointer;
}


.demo:hover{
    background-color: #fff;
    transition: all ease-in-out;
}